.header {
  margin-top: 40px;
  font-size: 22px;
  margin-bottom: 0px;

  h1 {
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 10px;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #363636;
    font-family: 'Open Sans', sans-serif;
  }
}

.sub_header {
  font-size: 11px;
}
