<app-header></app-header>

<div class="page-header">
  <div class="container">
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/youtube']">Youtube</a>
      <a [routerLink]="['/contact']">Contact</a>
      <a [routerLink]="['/search']">Spotify</a>
      <a [routerLink]="['/about/9']">9</a>
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/protected']">Protected</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<app-square></app-square>

<app-chat-page></app-chat-page>
