<div class="container">
  <app-header></app-header>

  <div class="page-header">
    <div class="navLinks">
      <a [routerLink]="['/preloader']">Preloader</a>
      <a [routerLink]="['/youtube']">Youtube</a>
      <a [routerLink]="['/contact']">Animation</a>
      <a [routerLink]="['/search']">Spotify</a>
      <a [routerLink]="['/about/9']">Chat</a>
      <a [routerLink]="['/counter']">Redux</a>
      <a [routerLink]="['/blog']">Blog</a>
      <a [routerLink]="['/zone']">Zone</a>
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/protected']">Protected</a>
    </div>
  </div>

  <div id="content">
      <router-outlet></router-outlet>
  </div>

  <br><br><app-toolbar></app-toolbar>

</div>


