/* You can add global styles to this file, and also import other style files */

html {
  background: #f3f3f3 url(http://demo.goodlayers.com/ideo/wp-content/themes/ideo/images/pattern/pattern-1.png);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #707070;
}

.outer-container {
  display: none;
}

.pusher {
  transform: translate(54px, 0);
}

.pusher {
  background-color: #2b2b2b;
  z-index: 10;
  height: 100%;
  width: 280px;
  top: 0;
  left: 0;
  overflow: auto !important;
  border-left: 1px solid #2b2b2b;
  position: fixed;
}

.mp-level {
  background: #2b2b2b;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 3.375em;
  transition: all .5s ease;
}

.menu-trigger {
  position: fixed;
  height: 100%;
  padding: 3.375em 0 0;
  background-color: #222;
  transition: background-color .25s ease;
  display: block;
  top: 0;
  left: 0;
  width: 54px;
}

.pusher ul li a {
  display: block;
  position: relative;
  padding: 1.1538461538em 60px 1.1538461538em 20px;
  border-left: 3px #2b2b2b solid;
  color: #ccc;
  text-decoration: none;
  font-size: .8125em;
  line-height: 1.3846153846em;
  transition: all .25s ease;

  &:hover{
    background-color: #363636;
    border-color: #363636;
  }
}

.pusher ul {
  list-style: none;
  list-style-image: none;

  li {
    font-family: HelveticaNeueLT-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

    &.expanded{
      list-style-image: none;

      a {

        &:after{
          background-image: url(assets/images/main-nav-link-arrow.png);
          background-position: 0 0;
          background-size: 100% 100%;
          transition: transform .5s ease;
          content: ' ';
          display: inline-block;
          height: 11px;
          margin-top: -6px;
          position: absolute;
          right: 30px;
          top: 50%;
          width: 7px;
        }
      }
    }

  }

}

